## Feature Engineering - Handling Categorical Features - Day 4

Ordinal Encoding technique is used where the values have ranks 

For Example -->
 1. Grading System
 2. Experience of a batsman
 3. Weekdays and Weekends

In [1]:
import datetime

In [2]:
today_date = datetime.datetime.today()

In [3]:
today_date

datetime.datetime(2025, 3, 4, 21, 50, 47, 730805)

In [4]:
today_date - datetime.timedelta(1)

datetime.datetime(2025, 3, 3, 21, 50, 47, 730805)

In [5]:
today_date - datetime.timedelta(2)

datetime.datetime(2025, 3, 2, 21, 50, 47, 730805)

In [7]:
### list comprehension
days = [today_date-datetime.timedelta(x) for x in range(0,15)]

In [8]:
import pandas as pd
data = pd.DataFrame(days)
data.columns=["Day"]

In [9]:
data.head()

                         Day
0 2025-03-04 21:50:47.730805
1 2025-03-03 21:50:47.730805
2 2025-03-02 21:50:47.730805
3 2025-03-01 21:50:47.730805
4 2025-02-28 21:50:47.730805

In [10]:
data.dtypes

Day    datetime64[ns]
dtype: object

In [11]:
data['Day'].dt.weekday

0     1
1     0
2     6
3     5
4     4
5     3
6     2
7     1
8     0
9     6
10    5
11    4
12    3
13    2
14    1
Name: Day, dtype: int32

In [20]:
data['weekday_no'] = data['Day'].dt.weekday

In [21]:
data

                          Day    weekday  weekday_no
0  2025-03-04 21:50:47.730805    Tuesday           1
1  2025-03-03 21:50:47.730805     Monday           0
2  2025-03-02 21:50:47.730805     Sunday           6
3  2025-03-01 21:50:47.730805   Saturday           5
4  2025-02-28 21:50:47.730805     Friday           4
5  2025-02-27 21:50:47.730805   Thursday           3
6  2025-02-26 21:50:47.730805  Wednesday           2
7  2025-02-25 21:50:47.730805    Tuesday           1
8  2025-02-24 21:50:47.730805     Monday           0
9  2025-02-23 21:50:47.730805     Sunday           6
10 2025-02-22 21:50:47.730805   Saturday           5
11 2025-02-21 21:50:47.730805     Friday           4
12 2025-02-20 21:50:47.730805   Thursday           3
13 2025-02-19 21:50:47.730805  Wednesday           2
14 2025-02-18 21:50:47.730805    Tuesday           1

In [22]:
data['Day'].dt.strftime("%A")

0       Tuesday
1        Monday
2        Sunday
3      Saturday
4        Friday
5      Thursday
6     Wednesday
7       Tuesday
8        Monday
9        Sunday
10     Saturday
11       Friday
12     Thursday
13    Wednesday
14      Tuesday
Name: Day, dtype: object

In [23]:
data['weekday'] = data['Day'].dt.strftime("%A")

In [24]:
data

                          Day    weekday  weekday_no
0  2025-03-04 21:50:47.730805    Tuesday           1
1  2025-03-03 21:50:47.730805     Monday           0
2  2025-03-02 21:50:47.730805     Sunday           6
3  2025-03-01 21:50:47.730805   Saturday           5
4  2025-02-28 21:50:47.730805     Friday           4
5  2025-02-27 21:50:47.730805   Thursday           3
6  2025-02-26 21:50:47.730805  Wednesday           2
7  2025-02-25 21:50:47.730805    Tuesday           1
8  2025-02-24 21:50:47.730805     Monday           0
9  2025-02-23 21:50:47.730805     Sunday           6
10 2025-02-22 21:50:47.730805   Saturday           5
11 2025-02-21 21:50:47.730805     Friday           4
12 2025-02-20 21:50:47.730805   Thursday           3
13 2025-02-19 21:50:47.730805  Wednesday           2
14 2025-02-18 21:50:47.730805    Tuesday           1